  h1{
    text-align: center;
    color: Red;
    
   background-color: black;
   font-size: 20px;
    
  }
  
   .vvv{
    background-color: yellow;
   color: black;
  }
 .basyal{
    
   text-align: center;
   background: orange;
    
  }
  
  
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

