  p{
    text-align: center;
    color: Red;
    
   background-color: black;
   font-size: 20px;
    
  }
  
  button{
    background-color: navajowhite;
   color: white;
    padding: 10px;
    margin: 10px;
    border: 0px;
    text-align: left;
    
   
    
  }
